//usable
$button: rgb(63, 96, 206);
$notify: #FFF06D;

//texts
$white: #ffffff;
$text: rgba(245, 245, 245, 0.7);
$texthover: whitesmoke;

//backgrounds
$main01: #393939;
$main02: #2d2d2d;
$main02shadow: #292929;
$main03: #1f1f1f;

//boxs
$shadow: #1f1f1f;
$color: #4a4e51;
