//usable
$button: rgb(63, 96, 206);
$notify: #FFF06D;

//texts
$text: rgba(27, 27, 27, 0.7);
$texthover: rgb(66, 66, 66);

//backgrounds
$main01: #ffffff;
$main02: #e2e2e2;
$main03: #d8d8d8;

//boxs
$shadow: #d8d8d8;
$color: #e6e6e6;
